In [166]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [167]:
gp=pd.read_csv(r"C:\Users\DELL\Desktop\pythonn\My Notes\Dataset\googleplaystore.csv")
gpr=pd.read_csv(r"C:\Users\DELL\Desktop\pythonn\My Notes\Dataset\googleplaystore_user_reviews.csv")

In [168]:
gpr.head(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN

In [169]:
# 1. Display Top 5 Rows of The Dataset
gp.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [170]:
# 2. Check the Last 3 Rows of The Dataset
gp.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [171]:
# 3. Find Shape of Our Dataset (Number of Rows & Number of Columns)
print("number of rows",gp.shape[0])
print("number of columns",gp.shape[1])

number of rows 10841
number of columns 13

In [172]:
# 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
gp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [173]:
# 5. Get Overall Statistics About The Dataframe
gp.describe(include="all")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
gp.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [175]:
# 6. Total Number of App Titles Contain Astrology
gp["App"].str.contains("Astrology",case=True).sum()

3

In [176]:
# 7. Find Average App Rating
gp["Rating"].mean()

4.193338315362443

In [177]:
# 8.  Find Total Number of Unique Category
len(gp["Category"].unique())
gp["Category"].nunique()

34

In [178]:
# 9. Which Category Getting The Highest Average Rating?
gp.groupby("Category")["Rating"].mean().sort_values(ascending=False).head(5).reset_index()

              Category     Rating
0                  1.9  19.000000
1               EVENTS   4.435556
2            EDUCATION   4.389032
3       ART_AND_DESIGN   4.358065
4  BOOKS_AND_REFERENCE   4.346067

In [179]:
# 10. Find Total Number of App having 5 Star Rating
len(gp[gp["Rating"]==5.0])

274

In [180]:
gp.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [181]:
# 11. Find Average Value of Reviews
gp[gp["Reviews"]=="3.0M"]
gp["Reviews"]=gp["Reviews"].replace("3.0M",3.0)
gp["Reviews"]=gp["Reviews"].astype("float")

In [182]:
gp["Reviews"].mean()

444111.9265750392

In [183]:
# 12. Find Total Number of Free and Paid Apps
gp["Type"].value_counts().reset_index()

   Type  count
0  Free  10039
1  Paid    800
2     0      1

In [184]:
# 13.  Which App Has Maximum Reviews?
gp[gp["Reviews"].max()==gp["Reviews"]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [185]:
# 14. Display Top 5 Apps Having Highest Reviews
gp.groupby("App")["Reviews"].max().sort_values(ascending=False).head(5).reset_index()

                                        App     Reviews
0                                  Facebook  78158306.0
1                        WhatsApp Messenger  69119316.0
2                                 Instagram  66577446.0
3  Messenger – Text and Video Chat for Free  56646578.0
4                            Clash of Clans  44893888.0

In [186]:
ind=gp["Reviews"].sort_values(ascending=False).head().index
ind

Index([2544, 3943, 381, 336, 3904], dtype='int64')

In [187]:
gp.iloc[ind]["App"].reset_index()

   index                 App
0   2544            Facebook
1   3943            Facebook
2    381  WhatsApp Messenger
3    336  WhatsApp Messenger
4   3904  WhatsApp Messenger

In [188]:
# 15. Find Average Rating of Free and Paid Apps
gp.groupby("Type")["Rating"].mean().reset_index()

   Type     Rating
0     0  19.000000
1  Free   4.186203
2  Paid   4.266615

In [216]:
# 16. Display Top  5 Apps Having Maximum Installs

In [193]:
gp["Installs_1"]=gp["Installs"].str.replace(",","")
gp["Installs_1"]=gp["Installs"].str.replace("+","")
gp["Installs"]=gp["Installs"].str.replace(",","")
gp["Installs"]=gp["Installs_1"]
gp[gp["Installs"]=="Free"]=0
gp["Installs"]=gp["Installs"].astype("int")

In [217]:
gp.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_1
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,"10,000"

In [240]:
indx=gp["Installs"].sort_values(ascending=False).head(5).index
indx

Index([3896, 3943, 335, 3523, 3565], dtype='int64')

In [241]:
gp.iloc[indx]["App"]

3896                              Subway Surfers
3943                                    Facebook
335     Messenger – Text and Video Chat for Free
3523                                Google Drive
3565                                Google Drive
Name: App, dtype: object